{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "sonarjs",
    "unicorn"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "rules": {
    "class-methods-use-this": "off",
    "import/order": [
      "error",
      {
        "groups": [
          [
            "builtin",
            "external"
          ]
        ],
        "newlines-between": "always"
      }
    ],
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ],
    "max-len": ["error", { "code": 120 }],
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/no-array-for-each": "off",
    "object-curly-newline": ["error", {
      "ObjectExpression": { "multiline": true, "minProperties": 1 },
      "ObjectPattern": { "multiline": true, "minProperties": 3 },
      "ImportDeclaration": "never",
      "ExportDeclaration": { "multiline": true, "minProperties": 3 }
    }],
    "import/no-unresolved": "error",
    "linebreak-style": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {}
    }
  }
}
