{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "extension": [".ts"],
  "all": true,
  "exclude": [
    "examples/**/*.ts",
    "types/**/*.d.ts",
    "tests/**/*.ts",
    "build/**/*.ts",
    "build/**/*.d.ts",
    "build/**/*.js",
    "webpack.config.ts"
  ],
  "excludeNodeModules": true
}